.menu {
  display: flex;
  justify-content: center; 
  align-items: center;     
  gap: 2rem;               
}

.textItem {
  background: none;
  border: none;
  font: inherit;
  color: var(--color-text);
  cursor: pointer;
  font-weight: var(--font-weight-medium);
}
.textItem:hover {
  color: var(--accent1); 
  filter: drop-shadow(0 0 7px rgba(236, 236, 236, 0.6));
}

.textItem:active {
  transform: scale(0.95);
}
