.container {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 0rem;
    max-width: 800px;   
    margin: 1rem auto;
    aspect-ratio: 16 / 9;
    color: white;
}

.player {
  position: relative;
  width: 100%;
  height:auto;
  aspect-ratio: 16 / 9;   
  border-radius: 12px;
  overflow: hidden;
  box-shadow: -10 10 30 rgba(0, 0, 0, 0.8);
}



