.container {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    max-width: 800px;   
    margin: 1rem auto;
}

.video {
    width: 100%;        
    height: auto; 
    border-radius: 12px;
    overflow: hidden;
    box-shadow: -10 10px 12px rgba(0, 0, 0, 0.3); 
}

.overlay {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.6); 

}

.container:hover .playIcon {
  opacity: 0;
  transform: scale(1.2);
  transition: opacity 0.2s ease, transform 0.3s ease;
}