.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  flex-wrap: wrap;
}
.rightGroup,
.middleGroup,
.leftGroup {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.middleGroup {
  flex: 1; 
  justify-content: center; 
}

.leftGroup {
  flex: 1; 
  justify-content: flex-start;
}

.rightGroup {
  flex: 1;
  justify-content: flex-end;
}
.title {
  padding-left: 1rem; 
}